.cover_pic_parent_cont{
    height: auto;
    width: 100%;
}

.cover_pic_cont{
    width: 100%;
    height: 220px;
}

.profile_img{
    position: absolute;
    width: 130px;
    height: 130px;
    border: 5px solid rgb(255, 255, 255);
    border-radius:50%;
    top:155px;
    left: 3%;
}

