.cover_pic_parent_cont{
    height: 500px;
    width: 100%;
}

.cover_pic_cont{
    width: 100%;
    height: 45%;
}

.profile_img{
    position: absolute;
    width: 130px;
    height: 130px;
    border: 5px solid rgb(255, 255, 255);
    border-radius:50%;
    bottom:41%;
    left: 3%;
}

